<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChatApplication.Properties.Settings.DB_A0A72F_TestDBConnectionString"
            connectionString="Data Source=SQL5052.site4now.net;Initial Catalog=DB_A0A72F_TestDB;User ID=DB_A0A72F_TestDB_admin;Password=1234ABc#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>